<h1>Times#main</h1>
<p>Find me in app/views/times/main.html.erb</p>

<div>
  <h4>The current time and date:</h4>
  <div>
    <h1><%= @time.strftime("%b %d, %Y") %></h1>
    <h1><%= @time.strftime("%I:%M %p") %></h1>
  </div>
</div>
