<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Controlling Users</title>
<!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- CUSTOM CSS -->
    <link rel="stylesheet" href="css/main.css">
<!-- ANGULAR -->
    <script src="bower_components/angular/angular.js" charset="utf-8"></script>
<!-- JS -->
    <script src="js/main.js" type="text/javascript"></script>
  </head>
  <body>
    <h3>Controlling Users</h3>
<!-- NG-CONTROLLER -->
    <div class="container" ng-controller="myController">
<!-- NG-SUBMIT -->
      <!-- NEW USER - FORM -->
      <form ng-submit="addUser()">
        <div class="form-group">
          <label for="firstname">First Name:</label>
<!-- NG-MODEL -->
          <input type="text" class="form-control" ng-model="newUser.firstname" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="lastname">Last Name:</label>
<!-- NG-MODEL -->
          <input type="text" class="form-control" ng-model="newUser.lastname" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="language">Favorite Language:</label>
<!-- NG-MODEL -->
          <input type="text" class="form-control" ng-model="newUser.language" placeholder="Language">
        </div>
        <button type="submit" class="btn btn-default">Create User</button>
      </form>
      <br>
      <!-- USER - TABLE -->
      <table class="table table-striped">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Fav Language</th>
          <th>Actions</th>
        </tr>
<!-- NG-REPEAT -->
        <tr ng-repeat="i in users">
          <td>{{ i.firstname }}</td>
          <td>{{ i.lastname }}</td>
          <td>{{ i.language }}</td>
          <td><button ng-click="removeUser(i)">Delete User</button></td>
        </tr>
      </table>
  </body>
</html>
